<div class="portfolio-modal modal fade" id="compEng" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Electrical Engineering Projects</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/audio_amplifier.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">Grade 11-12</h4>
    
                    <p class="mb-5">
                        In our high school computer engineering class we developed numerous complex electrical circuits.
                        In grade 11 we developed a Regulated DC power supply using a full bridge rectifier.
                        In grade 12 we built numerous circuit especially using zener diodes and op-amp theory.
                        In grade 12 we created an audio amplifier using op-amps as shown above, which takes both a microphone and 3.5mm audio adapter input
                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/motor_controller_diagram.jpg" alt="">
                        <br>We developed a motor PWM controller using op-amps as shown in the circuit diagram above.
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    