<div class="portfolio-modal modal fade" id="FSAE" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Waterloo Formula Electric Team</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line" style="max-width:45rem"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{{.Path}}img/FSAE.png" alt="">
                <!-- Portfolio Modal - Text -->
                <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">September 2019 - Present</h4>
                <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="https://uwaterloo.ca/sedra-student-design-centre/directory-teams/waterloo-formula-electric">UW Formula Electric</a></h4>

                <p class="mb-5">
                    I joined the Waterloo Formula Electric team in my first term at Waterloo.
                    This design team designs and produces electric race cars to compete at various competitions.
                    I am currently second in command on the firmware team and will
                    progress to be the firmware team's lead in the summer of 2020. On this team I develop the firmware for the various boards produced by the electrical team in C.

                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
