<div class="portfolio-modal modal fade" id="gokart" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Self Driving Go Kart</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/go-kart.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">May 2019 - August 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="{{.ExtPath}}Go-Kart.pdf">Go Kart Report</a></h4>
                    <iframe style="float:left" width="700" height="406" src="https://www.youtube.com/embed/EaUuswyAPh8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p align="left" class="mb-5">
                        In May of 2019, I decided to try and build a self driving go kart with two other friends.
                        We bought a gokart and modified it to be drive by wire. 
                        We also designed self driving software for the kart as shown in the report above.
                        We had to abandon the project in September for numerous reasons, the primary reason being that we were all moving onto University,
                        and the project was also financially infeasible, the hardware to run the self driving program would have required in excess of $1000
                        and we could not afford to continue development at the time.
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    