<div class="portfolio-modal modal fade" id="groupdesk" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Groupdesk</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/groupdesk.jpg" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">Summer 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="https://www.groupdesk.io">Groupdesk.io</a></h4>

                    <p class="mb-5">
                      I worked at Groupdesk over the summer of 2019 as a frontend engineer. 
                      At Groupdesk I developed various frontend features including CRUD controls in Angular and AngularJS.
                      I also developed from the ground up, the website's Google Analytics system to track user behaviour, to determine where users spent their most time so that those features could be improved.
                      At Groupdesk I also developed a system to automate some of the tasks of the QA team using chromedp and Go in docker containers.
                      The system performed tests in a virtual browser, testing the critical components of the site before releases to ensure there were no issues with any of the systems during a release.
                      
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
