<div class="portfolio-modal modal fade" id="lego_printer" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Lego 3D Printer</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/3DPrinter.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">October 2019 - December 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="{{.ExtPath}}MTE_REPORT_6.pdf">3D Printer Report</a></h4>
                    <iframe style="float:left" width="700" height="406" src="https://www.youtube.com/embed/uAKsaVUN9e8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p align="left" class="mb-5">
                        In my first term of Mechatronics Engineering at Waterloo we were tasked with designing and building a term project with these lego robotics kits.
                        My group and I decided that we wanted to build a 3D printer.
                        Through numerous design iterations we were able to come up with a functioning 3D printer which could produce an object through a custom file format.
                        <br>The full process is detailed in the report linked above.
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    