<div class="portfolio-modal modal fade" id="pchacks" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">PCHackers</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/pchackers.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">May 2018 - May 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="https://www.intelliware.com/intelliware-sponsors-canadas-largest-high-school-led-hackathon/">PCHackers</a></h4>
                    <iframe style="float:left" width="800" height="406" src="https://www.youtube.com/embed/vhuZZ2mrXqE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <p class="mb-5" align="left">                        
                            In the summer of 2018 a group of Port Credit Secondary School students decided to pursue the goal of hosting
                            "Canada's Largest High School Student run hackathon". Initially a group of 7 members grew to 25. We spent the summer 
                            searching for a venue as this was the primary concern and expense. We toured numerous buildings, college and university campuses.
                            We eventually settled on the University of Toronto Mississauga as it provided a great venue, at a reputable location for a fairly affordable fee.
                            So much organization went into planning this, we had to raise sponsorships, arrange for affordable and diverse food selections, 
                            arranging for guest speakers, acquiring judges from diverse backgrounds and much, much more. We were able to be officially registered 
                            under MLH(Major League Hacking), the official hackathon organization and that allowed us to get over 200 participants at the hackathon.
                            As the logistics manager on the day of the hackathon I was in charge of making sure everything went smoothly, making sure everything was on scheduele
                            from the food to the judging to the ceremonies. This meant that I was there at the hackathon at 7am and only left when everything was cleaned up around 2pm the next day.
                            The over 24 hours we spent working at the hackathon was a fantastic experience that I will never forget. 
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    