<div class="portfolio-modal modal fade" id="sudoku" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sudoku Solver</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/sudoku.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">March 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="https://github.com/123p10/Sudoku-Solver">Sudoku Solver Repository</a></h4>
    
                    <p class="mb-5">
                        Many sudoku solvers on the internet use a bruteforce method.
                        I thought it would be an interesting challenge to develop a sudoku solvers
                        that utilized various of my own algorithms rather than using standard techniques or some inefficient bruteforce technique.
                        I developed a sudoku solver which can solve fairly complex boards in fractions of seconds.
                        The program was able to solve,check and render the board shown above into the solution below in just over 8ms.
                        This program was developed in Java.

                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/sudoku_solved.PNG" alt="">
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    