<div class="portfolio-modal modal fade" id="the6ix" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">The 6ix Robotics</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/the6ix.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">May 2018 - February 2019</h4>
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:1.5rem"><a href="https://www.instagram.com/the6ixrobotics/">The 6ix Robotics</a></h4>
    
                    <p align="left" class="mb-5">
                        In the summer of 2018 I founded the 6ix robotics team with 2 other members of 4659 robotics, due to disagreements
                        with the school staff. We were able to recruit approximately 10 more members for the team and raised $15,000 in part from
                        sponsorships from Deloitte, IBM and various other large companies. 
                        <br><br>On the team I was one of the head builders, the lead programmer and the main driver.

                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/the6ix_group_picture.png" alt="">
                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/the6ix_robot_1.jpg" alt="">
                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/the6ix_robot_2.jpg" alt="">
                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/the6ix_driving.png" alt="">
                        Throughout the season we produced numerous bots and attended multiple Vex competitions, winning many awards.<br><br>
                        As head programmer, I was in charge of planning the electrical system, the sensors and interfacing with them
                        through the Vex cortex. I was also in charge of the autonomous function of the robot, a 15 second period where the
                        robot drove autonomously. I used various linear control algorithms including PID and bang bang to perform consistent autonomous operation.
                        We won almost every single autonomous mode we ever played.<br><br>
                        In January of 2018 we attended the Vex provincial championships, competing against teams with $200,000+ budgets and 100s of members.
                        We missed the world championships by one point in the provincials skills competition.
                        Despite this, creating this team from nothing and competing as the underdogs across the province was an amazing experience.<br>
                        At the end of the year, as much of the team was graduating high school, we handed the team off to the younger members of our team and they continue to compete under our name today. 
                        

                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    