<div class="portfolio-modal modal fade" id="warriors" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">4659 Warrior Robotics</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line" style="max-width:45rem"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="{{.Path}}img/4659.png" alt="">
                    <!-- Portfolio Modal - Text -->
                    <h4 class="portfolio-modal-title text-secondary text-uppercase mb-0" style="font-size:2rem">September 2016 - May 2018</h4>
    
                    <p align="left" class="mb-5">
                        I joined the Vex Robotics team at my school in Grade 10.
                        I joined as one of the few programmers on the team. My primary
                        role on this team was autonomous mode development.
                        We competed in numerous competitions and were able to qualify to the Vex World Championships in Kentucky in 2017 through the design award.
                        It was an amazing experience to compete at the world championships in my first year.
                        <img class="img-fluid rounded mb-5" src="{{.Path}}img/modal_images/4659_group.jpg" alt="">
                        <iframe style="float:left" width="710" height="406" src="https://www.youtube.com/embed/qDQm0dFhJnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i>
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    